.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    font-size: 18px;
    color: #fff !important;
}
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0;
    background-color:#444!important
}
    .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
        border: 0;
        background: 0 0 !important;
        color: #fdfdfd !important;
    }
.tabbable-line > .tab-content {
    margin-top: 0;
    border: 0;
    border-top: 1px solid #eef1f5;
    padding: 5px 0!important;
}
