<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Favicons -->
    <link href="~/HomeAssets/img/faviconE.png" rel="icon">
    <link href="~/HomeAssets/img/faviconE.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/HomeAssets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Libraries CSS Files -->
    <link href="~/HomeAssets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/HomeAssets/lib/animate/animate.min.css" rel="stylesheet" />

    <!-- Main Stylesheet File -->
    <link href="~/HomeAssets/css/style.css" rel="stylesheet" />
    <!-- login css files -->
    <link href="~/HomeAssets/css/login.css" rel="stylesheet" />

</head>
<body>

    <div>
        @RenderBody()
    </div>


    <!-- JavaScript Libraries -->
    <script src="~/HomeAssets/lib/jquery/jquery.min.js"></script>
    <script src="~/HomeAssets/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/HomeAssets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/HomeAssets/lib/easing/easing.min.js"></script>
    <script src="~/HomeAssets/lib/wow/wow.min.js"></script>
    <script src="~/HomeAssets/lib/waypoints/waypoints.min.js"></script>
    <script src="~/HomeAssets/lib/counterup/counterup.min.js"></script>
    <script src="~/HomeAssets/lib/superfish/hoverIntent.js"></script>
    <script src="~/HomeAssets/lib/superfish/superfish.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="~/HomeAssets/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/HomeAssets/js/main.js"></script>

    <!-- login Javascript File -->
    <script src="~/HomeAssets/js/login.js"></script>

</body>
</html>
